/* .contactsForm {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 1px solid black;
  max-width: 400px;
  padding: 10px;
}

.label {
  margin-bottom: 3px;
}

input {
  margin-bottom: 10px;
}

.button {
  cursor: pointer;
  background-color: white;
  border: none;
  border-radius: 5px;
  padding: 5px;
}

.button:hover {
  background-color: aqua;
} */
